# Descriptive Analytics

This practical exercise will focus on using Python and R to provide some of the basic information regarding some set of data.

We'll start by importing some modified real-world network traffic data from */data/network_traffic.csv*.

Note: 

>The sample is a ~500K CSV with summary of some real network traffic data from the past. The dataset has ~21K rows and covers 10 local workstation IPs over a three month period. 
Half of these local IPs were compromised at some point during this period and became members of various botnets. 
Can you discover when a compromise has occurred by a change in the pattern of communication? 

>Each row consists of four columns:

>**date**: yyyy-mm-dd (from 2006-07-01 through 2006-09-30)  
**l_ipn**: local IP (coded as an integer from 0-9)  
**r_asn**: remote ASN (an integer which identifies the remote ISP)  
**f**: flows (count of connnections for that day)  

>Reports of "odd" activity or suspicions about a machine's behavior triggered investigations on the following days (although the machine might have been compromised earlier) 
Date : IP 
08-24 : 1 
09-04 : 5 
09-18 : 4 
09-26 : 3 6 

>Retrieved from: http://statweb.stanford.edu/~sabatti/data.html

In [3]:
import pandas as pd
from pprint import pprint

dta = pd.read_csv("data/network_traffic.csv")

In [5]:
dta.head()

         date  l_ipn  r_asn  f
0  2006-07-01      0    701  1
1  2006-07-01      0    714  1
2  2006-07-01      0   1239  1
3  2006-07-01      0   1680  1
4  2006-07-01      0   2514  1

In [4]:
dta.describe()

              l_ipn         r_asn              f
count  20803.000000  20803.000000   20803.000000
mean       4.228236  12138.320338      93.914243
std        3.278183   9766.324252    5764.995269
min        0.000000      3.000000       1.000000
25%        1.000000   4323.000000       1.000000
50%        4.000000   8764.000000       2.000000
75%        7.000000  17676.000000       8.000000
max        9.000000  40092.000000  784234.000000